
body {
    font-family: sans-serif;
    color: #2B3D41;
    background-color: #FAFAFA;
    max-width: 900px;
    display: block;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    line-height: 150%;
}

a {
    transition: color, background-color 0.5s;
    color: #348AA7;
    text-decoration: none;
    border-bottom: 1px solid #348AA7;
}
a:visited {
    color: #2F4858;
    border-bottom: 1px solid #2F4858;
}
a:hover {
    transition: color, background-color 0.5s;
    color: #86BBD8;
    border-bottom: 1px solid #86BBD8;
}

.nostyle {
    border: none;
    margin-right: 1em;
}
.nostyle:hover {
    border: none;
}

.imgstyle {
    vertical-align: middle;
    margin-bottom: 0.25em;
}

.divider {
    border-bottom: 1px solid #2B3D41;
    margin: 1em;
}

.nav {
    transition: color, background-color 0.5s;
    color: #FAFAFA !important;
    background-color: #2B3D41 !important;
    border-bottom: 1px solid transparent !important;
    border-radius: 10px;
    padding: 5px 10px;
}
.nav:hover {
    transition: color, background-color 0.5s;
    color: #2B3D41 !important;
    background-color: #FAFAFA !important;
    border-bottom: 1px solid transparent !important;
    border-radius: 10px;
    padding: 5px 10px;
}
@media all and (min-width: 960px) {
    .nav {
        font-size: 30px;
    }
}
@media all and (max-width: 959px) and (min-width: 600px) {
    .nav {
        font-size: 3vw;
    }
}
@media all and (max-width: 599px) and (min-width: 50px) {
    .nav {
        font-size: 4vw;
    }
}

table.centered {
    text-align: left;
    width: 100%;
    /* for small screens */
    max-width: 20em;
    /* define width while keeping it flexible */
    margin-right: auto;
    margin-left: auto;
    line-height: 1.5em;
}

li {
    /*margin: 5px 0;*/
}

.center {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

code {
    font-family: monospace;
    background: #2B3D41;
    color: #FAFAFA;
    padding: 0.5em 1em;
    display: block;
    white-space: pre;
    overflow-x: auto;
}

.inline {
    font-family: monospace;
    background: #2B3D41;
    color: #FAFAFA;
    padding: 0.25em 0.25em;
    display: inline;
    white-space: pre;
    overflow-x: auto;
}

blockquote {
    border-left: .25em solid #dfe2e5;
    color: #6a737d;
    padding: 0 0.5rem;
    margin-inline-start: 1em;
}
